<!DOCTYPE html>

<html>

<head>

<title>Greater Than</title>

<meta charset="utf-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" >

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

</head>

<body>

{% block content %}
{% endblock %}

<script>
	$(document).ready(function(){
		var score = 0;

		var num_one = Math.floor((Math.random() * 10) + 1);

		var num_two = Math.floor((Math.random() * 10) + 1);


		$('#score').val() = score;

		$('#num_one').val() = num_one;

		$('#num_two').val() = num_two;

	$('#num_one').click(function(){
		var num_one = $('#score').val();
		var num_two = $('#score').val();
		var score = $('#score').val();
		// if (num_one >= num_two) {
		// 	alert(num_one);
		// 	var score = score++;
		// 	var num_one = Math.floor((Math.random() * 10) + 1);
		// 	var num_two = Math.floor((Math.random() * 10) + 1);
		// 	// var score = Number(document.getElementById('score').value);
		// 	document.getElementById("num_one").innerHTML = num_one;
		// 	document.getElementById("num_two").innerHTML = num_two;
		// 	document.getElementById('score').innerHTML = score;
		// }
		// else{
		// 	window.location.href = "http://127.0.0.1:5000/fail";
		// };
		console.log($('#num_one').val());
	});

	$('#num_two').click(function(){
		var num_one = Number(document.getElementById('num_one').value);
		var num_two = Number(document.getElementById('num_two').value);
		var score = Number(document.getElementById('score').value);
		if (num_two >= num_one) {
			alert(num_two);
			var score = score++;
			var num_one = Math.floor((Math.random() * 10) + 1);
			var num_two = Math.floor((Math.random() * 10) + 1);
			document.getElementById("num_one").innerHTML = num_one;	   
			document.getElementById("num_two").innerHTML = num_two;
			document.getElementById('score').innerHTML = score;
		}
		else {
			window.location.href = "http://127.0.0.1:5000/fail";
		};
	});


	});
</script>

</body>

</html>