{% extends 'base.html' %}

{% block content %}
<div class="container start2">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<div id="logo2" class="animated bounceInDown">Choose A Difficulty & Begin!</div><br><br>
			<a href="/play_easy"><button id="start_button_easy" class="animated fadeIn">Easy</button></a>
			<a href="/play_med"><button id="start_button_med" class="animated fadeIn">Medium</button></a>
			<a href="/play_hard"><button id="start_button_hard" class="animated fadeIn">Hard</button></a>
		</div>
	</div>
</div>
{% endblock %}