{% extends 'base.html' %}

{% block content %}
<div class="container game">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center play_score">
		<span>Score: <span id="score"></span></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 text-center num_one">
		<a><button id="num_one" type="button"></button></a>
		</div>
		<div class="col-md-6 text-center num_two">
		<a><button id="num_two" type="button" style="font-size: 80px;"></button><span id="operator">*</span><button id="num_three" type="button" style="font-size: 80px;"></button></a>
		</div>
	</div>
	<span id="timer" style="color: red; position: absolute; top: 550px; margin-left: 420px;"></span>
</div>

<script>

	$(document).ready(function(){

		window.setInterval(function(){
		var score = $('#score').text();
		var score = Number(score);
		window.location.href = "/fail/"+score;
		}, 30000);


		var score = 0;

		var num_one = Math.floor((Math.random() * 100) + 4);

		var num_two = Math.floor((Math.random() * 10) + 1);

		var num_three = Math.floor((Math.random() * 10) + 1);

		document.getElementById("num_one").innerHTML = num_one;
	   
		document.getElementById("num_two").innerHTML = num_two;

		document.getElementById("num_three").innerHTML = num_three;

		document.getElementById('score').innerHTML = score;
		
		var count=30;

		var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

		function timer(){
		  count=count-1;
		  if (count <= 0)
		  {
		     clearInterval(counter);
		     //counter ended, do something here
		     return;
		  }
		  document.getElementById("timer").innerHTML=count + " seconds";
  //Do code for showing the number of seconds here
		}

		// $('#score').val() = score;

		// $('#num_one').val() = num_one;

		// $('#num_two').val = num_two;

	$('#num_one').click(function(){
		var num_one = $('#num_one').text();
		var num_one = Number(num_one);
		
		var num_two = $('#num_two').text();
		var num_two = Number(num_two);

		var num_three = $('#num_three').text();
		var num_three = Number(num_three);
		
		var score = $('#score').text();
		var score = Number(score);
		
		if (num_one >= num_two*num_three) {
			
			score++;
			
			var num_one = Math.floor((Math.random() * 100) + 4);
			var num_two = Math.floor((Math.random() * 10) + 1);
			var num_three = Math.floor((Math.random() * 10) + 1);
			
			document.getElementById("num_one").innerHTML = num_one;
			document.getElementById("num_two").innerHTML = num_two;
			document.getElementById("num_three").innerHTML = num_three;
			document.getElementById('score').innerHTML = score;
		}
		else{
			//LOADS A NEW PAGE SO DOC.READY FUNCTION RUNS AND SCORE = 0 AGAIN??
			window.location.href = "/fail/"+score;
			// document.getElementById('final_score').innerHTML = score;
		};
	});

	$('#num_two, #num_three, #operator').click(function(){
		var num_one = $('#num_one').text();
		var num_one = Number(num_one);
		
		var num_two = $('#num_two').text();
		var num_two = Number(num_two);

		var num_three = $('#num_three').text();
		var num_three = Number(num_three);
		
		var score = $('#score').text();
		var score = Number(score);
		
		if (num_two*num_three >= num_one) {
			
			score++;
			
			var num_one = Math.floor((Math.random() * 100) + 4);
			var num_two = Math.floor((Math.random() * 10) + 1);
			var num_three = Math.floor((Math.random() * 10) + 1);
			
			document.getElementById("num_one").innerHTML = num_one;	   
			document.getElementById("num_two").innerHTML = num_two;
			document.getElementById("num_three").innerHTML = num_three;
			document.getElementById('score').innerHTML = score;
		}
		else {
			//LOADS A NEW PAGE SO DOC.READY FUNCTION RUNS AND SCORE = 0 AGAIN??
			window.location.href = "/fail/"+score;
			// document.getElementById('final_score').innerHTML = score;
		};
	});


	});
</script>
{% endblock %}