{% extends 'base.html' %}

{% block content %}
<div class="container game">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center play_score">
		<span>Score: <span id="score"></span></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 text-center num_one">
		<a><button id="num_one" type="button" style="font-size: 80px;"></button></a><span id="operator_one">*</span><button id="num_two" type="button" style="font-size: 80px;"></button></a>
		</div>
		<div class="col-md-6 text-center num_two">
		<a><button id="num_three" type="button" style="font-size: 80px;"></button><span id="operator_two">*</span><button id="num_four" type="button" style="font-size: 80px;"></button></a>
		</div>
	</div>
</div>

<script>

	$(document).ready(function(){
		var score = 0;

		var num_one = Math.floor((Math.random() * 10) + 1);

		var num_two = Math.floor((Math.random() * 10) + 1);

		var num_three = Math.floor((Math.random() * 10) + 1);

		var num_four = Math.floor((Math.random() * 10) + 1);

		document.getElementById("num_one").innerHTML = num_one;
	   
		document.getElementById("num_two").innerHTML = num_two;

		document.getElementById("num_three").innerHTML = num_three;

		document.getElementById("num_four").innerHTML = num_four;

		document.getElementById('score').innerHTML = score;

		// $('#score').val() = score;

		// $('#num_one').val() = num_one;

		// $('#num_two').val = num_two;

	$('#num_one, #num_two, #operator_one').click(function(){
		var num_one = $('#num_one').text();
		var num_one = Number(num_one);
		
		var num_two = $('#num_two').text();
		var num_two = Number(num_two);

		var num_three = $('#num_three').text();
		var num_three = Number(num_three);

		var num_four = $('#num_four').text();
		var num_four = Number(num_four);
		
		var score = $('#score').text();
		var score = Number(score);
		
		if (num_one*num_two >= num_three*num_four) {
			
			score++;
			
			var num_one = Math.floor((Math.random() * 10) + 1);
			var num_two = Math.floor((Math.random() * 10) + 1);
			var num_three = Math.floor((Math.random() * 10) + 1);
			var num_four = Math.floor((Math.random() * 10) + 1);
			
			document.getElementById("num_one").innerHTML = num_one;
			document.getElementById("num_two").innerHTML = num_two;
			document.getElementById("num_three").innerHTML = num_three;
			document.getElementById("num_four").innerHTML = num_four;
			document.getElementById('score').innerHTML = score;
		}
		else{
			//LOADS A NEW PAGE SO DOC.READY FUNCTION RUNS AND SCORE = 0 AGAIN??
			window.location.href = "/fail";
			alert(score);
			document.getElementById('final_score').innerHTML = score;
		};
	});

	$('#num_two, #num_three, #operator_two').click(function(){
		var num_one = $('#num_one').text();
		var num_one = Number(num_one);
		
		var num_two = $('#num_two').text();
		var num_two = Number(num_two);

		var num_three = $('#num_three').text();
		var num_three = Number(num_three);

		var num_four = $('#num_four').text();
		var num_four = Number(num_four);
		
		var score = $('#score').text();
		var score = Number(score);
		
		if (num_three*num_four >= num_one*num_two) {
			
			score++;
			
			var num_one = Math.floor((Math.random() * 10) + 1);
			var num_two = Math.floor((Math.random() * 10) + 1);
			var num_three = Math.floor((Math.random() * 10) + 1);
			var num_four = Math.floor((Math.random() * 10) + 1);
			
			document.getElementById("num_one").innerHTML = num_one;	   
			document.getElementById("num_two").innerHTML = num_two;
			document.getElementById("num_three").innerHTML = num_three;
			document.getElementById("num_four").innerHTML = num_four;
			document.getElementById('score').innerHTML = score;
		}
		else {
			//LOADS A NEW PAGE SO DOC.READY FUNCTION RUNS AND SCORE = 0 AGAIN??
			window.location.href = "/fail";
			alert(score);
			document.getElementById('final_score').innerHTML = score;
		};
	});


	});
</script>
{% endblock %}