{% extends 'base.html' %}

{% block content %}

<div class="container start">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center start">
			<span id="logo" class="animated fadeIn">></span>
			<p id="start_p1" class="animated fadeInLeft">This is Greater Than.</p>
			<p id="start_p2" class="animated fadeIn">The game that test your mental quickness through value comparison using simple math.</p><br>
		</div>
	</div>
			
	<div class="row animated fadeInDown ss_buttons">
		<div class="col-md-2 col-md-offset-4 text-center">
			<a href="/begin"><button id="start_button">Start</button></a>
		</div>
		<div class="col-md-2 text-center">
			<a href="/test"><button id="search_button" >Search Scores</button>
		</div></a>
	</div>
			
	<div class="row text-center animated fadeInDown create_">
		<br><br>
		<p id="account">To easily save scores and track progress, make an account!</p>
		<a href="/signup"><button id="signup_button">Create Account</button></a>
	</div>
</div>

{% endblock %}