{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4 text-center">
<form id="search_name" name="search_form" onsubmit="search()" method="POST" action="/results">   <h3>Enter Name and Password to Search Scores</h3>
	<input type="text" name="search" placeholder="Search Name"></input>
	<input type="password" name="pwd_search" placeholder="Password"></input>
	<button type="submit">Search</button>
</form>
</div>
</div>
</div>

<script type="text/javascript">
	
</script>

{% endblock %}

