html, body {
	width: 100%;
	height: 100%;
	background-color: #0980ba;
}

button {
	border: none;
	background: none;
	outline: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.start {
	top: 170px;
}

#logo {
	font-size: 80px;
	color: white;
	font-family: 'Indie Flower', cursive;
}

#start_p1 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: white;
}

#start_p2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: white;
}

#start_button {
	background-color: #0980ba;
	color: white;
	border: 1px solid white;
	width: 90px;
	height: 40px;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;

}

.num_one {
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	color: white;
	top: 200px;
	border: 1px solid white;
	width: 200px;
	height: 200px;
	left: 300px;
	padding-top: 20px; 
}

#num_one {
	color: white;
}

.num_two {
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	color: white;
	top: 200px;
	border: 1px solid white;
	width: 200px;
	height: 200px;
	left: 450px;
	padding-top: 20px;
}

#num_two {
	color: white;
}