html, body {
	width: 100%;
	height: 100%;
	background-color: black;
}

button {
	border: none;
	background: none;
	outline: none;
}

#test {
	color: white;
	display: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.start {
	position: absolute;
	margin-top: 40px;
}

#logo {
	font-size: 60px;
	color: white;
	font-family: 'Poiret One', cursive;
}

.game {
	position: absolute;
	margin-bottom: 40px;
}

#logo2 {
	font-size: 40px;
	color: white;
	font-family: 'Poiret One', cursive;
}

#dif_res {
	color: white;
	font-family: 'Poiret One', cursive;
}

#difficulty {
	font-size: 40px;
	color: white;
	font-family: 'Poiret One', cursive;
}

#save {
	font-size: 50px;
	color: white;
	font-family: 'Poiret One', cursive;
}

#start_p1 {
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	color: white;
}

#start_p2 {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	color: white;
}

#start_button {
	background-color: black;
	color: white;
	border: 1px solid white;
	width: 90px;
	height: 40px;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

#search_button {
	background-color: black;
	color: white;
	border: 1px solid white;
	width: 110px;
	height: 40px;
	font-family: 'Poiret One', cursive;
	font-size: 16px;
}

.play_score {
	top: 50px;
	font-size: 20px;
}

#score_results {
	font-size: 12px;
	/*position: absolute;
	margin-left: 425px;*/
}

#play_again {
	margin-left: 100px;
	background-color: black;
	color: white;
	border: 1px solid white;
	width: 120px;
	height: 40px;
	font-family: 'Poiret One', cursive;
	font-size: 16px;
}

#search_name {
	margin-top: 225px;
}

h3, h2 {
	color: white;
	font-family: 'Poiret One', cursive;
}


span {
	font-size: 60px;
	color: white;
	font-family: 'Poiret One', cursive;
}

.num_one {
	font-family: 'Poiret One', cursive;
	font-size: 100px;
	color: white;
	top: 100px;
	border: 1px solid white;
	width: 200px;
	height: 200px;
	left: 300px;
	padding-top: 20px; 
}

#num_one {
	color: white;
}

.num_two {
	font-family: 'Poiret One', cursive;
	font-size: 100px;
	color: white;
	top: 100px;
	border: 1px solid white;
	width: 200px;
	height: 200px;
	left: 450px;
	padding-top: 20px;
}

#num_two {
	color: white;
}

#num_three {
	color: white;
}

#num_four {
	color: white;
}

#operator_one, #operator_two {
	color:white;
}

#try_again {
	background-color: black;
	color: white;
	border: 1px solid white;
	width: 120px;
	height: 40px;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
}